@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.3s; }

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1; }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1);
    opacity: 1; } }

.scale-out-center {
  animation: scale-out-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.3s; }

@keyframes scale-out-center {
  0% {
    transform: scale(1.5);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.slide-in-top {
  -webkit-animation: slide-in-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    -webkit-animation-animation: slide-in-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
      -webkit-transform-transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
      -webkit-transform-transform: translateY(0);
    opacity: 1; } }

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
      -webkit-transform-transform: translateY(-50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
      -webkit-transform-transform: translateY(0);
    opacity: 1; } }

.slide-in-right {
  -webkit-animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    -webkit-animation-animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(50px);
      -webkit-transform-transform: translateX(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
      -webkit-transform-transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(50px);
      -webkit-transform-transform: translateX(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
      -webkit-transform-transform: translateX(0);
    opacity: 1; } }

.fade-in-bck {
  -webkit-animation: fade-in-bck 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -webkit-animation-animation: fade-in-bck 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(800px);
      -webkit-transform-transform: translateZ(800px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
      -webkit-transform-transform: translateZ(0);
    opacity: 1; } }

@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(800px);
      -webkit-transform-transform: translateZ(800px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
      -webkit-transform-transform: translateZ(0);
    opacity: 1; } }

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    -webkit-animation-animation: swing-in-top-fwd 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
      -webkit-transform-transform: rotateY(-100deg);
    -webkit-transform-origin: right;
      -webkit-transform-origin-transform-origin: right;
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg);
      -webkit-transform-transform: rotateY(0deg);
    -webkit-transform-origin: right;
      -webkit-transform-origin-transform-origin: right;
    opacity: 1; } }

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
      -webkit-transform-transform: rotateY(-100deg);
    -webkit-transform-origin: right;
      -webkit-transform-origin-transform-origin: right;
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(0deg);
      -webkit-transform-transform: rotateY(0deg);
    -webkit-transform-origin: right;
      -webkit-transform-origin-transform-origin: right;
    opacity: 1; } }

.PageSlide-enter {
  opacity: 0; }

.PageSlide-enter.PageSlide-enter-active {
  opacity: 1;
  transition: opacity 0.1s linear 0.1s; }

input:focus::-webkit-input-placeholder {
  opacity: 0; }

input::-webkit-input-placeholder {
  opacity: 0.6; }

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 150px;
  width: 100%;
  overflow: hidden; }

.input {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  min-width: 320px;
  height: 35px; }

.dropdown {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  padding-top: 30px; }
  .dropdown span {
    font-size: 14px;
    font-weight: 600;
    color: #383838; }

button {
  outline: none !important;
  cursor: pointer; }

.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  width: 80px;
  height: 40px;
  border: none !important;
  outline: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: all 0.2s ease; }
  .nav-link:hover {
    background-color: #46cdcf;
    color: white; }

.modal-btn, .modal-btn-cancel {
  font-size: 14px;
  font-weight: 600;
  color: white;
  width: 150px;
  height: 50px;
  background-color: #46cdcf;
  outline: none;
  border: none;
  transition: all 0.2s ease;
  color: white;
  font-weight: 600;
  margin-left: 0;
  margin-right: 45px; }
  .modal-btn:hover, .modal-btn-cancel:hover {
    background-color: #2fb2b3; }

.modal-btn-cancel {
  background-color: #a0a0a0;
  margin-right: 0;
  margin-left: 45px; }
  .modal-btn-cancel:hover {
    background-color: #878787; }

.action-btn-del, .action-btn-edit {
  width: 30px;
  height: 30px;
  outline: none !important;
  border: none;
  background-color: #e84d47;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease; }
  .action-btn-del:hover, .action-btn-edit:hover {
    background-color: #ff545f; }

.action-btn-edit {
  background-color: #28cd69; }
  .action-btn-edit:hover {
    background-color: #20a253; }

.rodal-dialog {
  padding: 0 !important; }

.modal-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  height: 100%; }

.modal-head {
  font-size: 16px;
  font-weight: 600;
  color: #383838;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }

.modal-btn-container {
  width: 100%;
  height: 90px;
  background-color: white;
  border-top: 0.5px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.coord-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.form {
  width: 90%;
  min-height: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: auto; }
  .form select {
    font-size: 14px;
    font-weight: 500;
    color: #383838;
    width: 80px;
    height: 40px;
    outline: none; }

.img-form-container {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-style: dashed;
  margin-top: 30px; }

.file-input {
  width: 50px;
  height: 50px; }

.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #f7f7f7;
  width: 1280px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.links {
  width: 180px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.actions-cell {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.rt-table {
  background-color: transparent !important;
  border-bottom: none !important; }

.rt-thead .-header {
  box-shadow: none !important; }

.pagination-bottom {
  position: absolute;
  bottom: -100px;
  right: 0; }

.select-wrap.-pageSizeOptions {
  position: absolute;
  right: 82vw; }

.rt-td {
  height: 40px;
  display: flex;
  align-items: center; }

.rt-th > input {
  height: 40px;
  border-radius: 0 !important; }

.-cursor-pointer {
  outline: none; }

.-pagination {
  border-top: none !important;
  box-shadow: none !important; }

.-previous {
  width: 110px; }

.rt-resizable-header-content {
  font-weight: 600; }

.dash {
  margin-top: 80px;
  background-color: #f7f7f7;
  width: 100%;
  min-height: 100vh;
  hegiht: auto;
  display: flex;
  flex-direction: column;
  position: relative; }

.heading {
  height: 100%;
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600; }

.search-section {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.wrapper {
  background-color: #f7f7f7;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.container {
  width: 1280px;
  height: auto; }

.animated-page-wrapper {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 100%; }
