input:focus::-webkit-input-placeholder
	opacity: 0
input::-webkit-input-placeholder
	opacity: 0.6

.input-container
	display: flex
	flex-direction: column
	align-items: flex-start
	justify-content: space-between
	min-width: 500px
	overflow: hidden

.input
	@include text(14px, 500, #000)
	padding-left: 10px
	padding-right: 10px
	outline: none
	width: 320px
	height: 35px

.dropdown
	min-width: 400px
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	padding-top: 30px



