input:focus::-webkit-input-placeholder
	opacity: 0
input::-webkit-input-placeholder
	opacity: 0.6

.search-input
	@include text(14px, 500, #000)
	padding-left: 10px
	padding-right: 10px
	outline: none
	width: 320px
	height: 35px
